# **Caro leitor(ra) seja muito bem vindo(a), vamos explorar essa base comigo !?**

## üì•Importando Bibliotecas e Carregando o Dataset

Seguiremos de forma bem detalhada uma an√°lise de dados explorat√≥ria (**EDA**), buscaremos por insights nessa jornada!

No c√≥digo abaixo importa-se as bibliotecas, carrega-se o dataset e exibe-se as primeiras 5 linhas :

Com o Data frame ja carregado e exibido, consegue-se vizualisar previamente os dados a serem tratados e manipulados, em sequ√™ncia um passo muito importante, discernir melhor as colunas!

In [1]:
# 1. Importar bibliotecas e definir aliases:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2 - Carregar o dataset na vari√°vel 'df':
df = pd.read_csv("netflix_data.csv", header=0)

# 3 - Visualizar 5 primeiras linhas :
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Be≈üik√ßioƒülu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV

## üß† Entendimento Inicial dos Dados

Compreender a estrutura e o conte√∫do do *DataFrame* √© uma etapa essencial para uma an√°lise explorat√≥ria eficaz. Ter uma boa vis√£o de neg√≥cio √© uma habilidade fundamental para engenheiros, cientistas e analistas de dados, mas, √© de suma import√¢ncia lembrar que **vi√©s cognitivo** pode influenciar interpreta√ß√µes. 

Por isso, √© crucial deixar que os pr√≥prios dados guiem as decis√µes anal√≠ticas. Toda EDA deve ser constru√≠da com base em evid√™ncias extra√≠das diretamente do dataset, evitando suposi√ß√µes n√£o fundamentadas.
A partir deste ponto, ser√° feita uma investiga√ß√£o detalhada sobre colunas, tipos de dados, valores nulos, estat√≠sticas b√°sicas e poss√≠veis padr√µes iniciais.

In [2]:
# 4 - Vizualizar as colunas:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'duration', 'description', 'genre'],
      dtype='object')

## Conte√∫do das Colunas do Data Frame
```
show_id:      Um identificador √∫nico para cada filme ou s√©rie.
type:         Indica se √© um filme ou s√©rie. 
title:        O t√≠tulo do filme ou s√©rie. 
director:     O diretor do filme ou s√©rie. 
cast:         Os atores ou atrizes que participaram. 
country:      O pa√≠s onde o filme ou s√©rie foi produzido.
date_added:   Quando o filme ou s√©rie foi adicionado √† plataforma. 
release_year: O ano de lan√ßamento do filme ou s√©rie. 
duration:     A dura√ß√£o do filme ou o n√∫mero de temporadas de uma s√©rie. (Observa√ß√£o: o valor desta coluna depende do valor da coluna type)
description:  Uma breve descri√ß√£o ou sinopse do filme ou s√©rie. 
genre:        O g√™nero do filme ou s√©rie (ex: a√ß√£o, com√©dia, drama).
```

## üìä Tipos de Dados do Dataset

Verificando tipos de dados, informa√ß√µes gerais e se o Data Frame cont√©m valores nulos:

In [3]:
# 5 - Verificar tipos de dados e informa√ß√µes gerais do Data Frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4812 non-null   object
 1   type          4812 non-null   object
 2   title         4812 non-null   object
 3   director      4812 non-null   object
 4   cast          4812 non-null   object
 5   country       4812 non-null   object
 6   date_added    4812 non-null   object
 7   release_year  4812 non-null   int64
 8   duration      4812 non-null   int64
 9   description   4812 non-null   object
 10  genre         4812 non-null   object
dtypes: int64(2), object(9)
memory usage: 413.7+ KB

‚úÖConforme a sa√≠da, duas colunas s√£o do tipo inteiro ```int64``` e 9 colunas s√£o do tipo ```object```, o Data frame n√£o cont√©m valores nulos, Isso simplifica a parte de limpeza dos dados.

‚úÖAs colunas ```release_year``` e ```duration``` j√° est√£o como ```int64 (n√∫meros inteiros)```, o que √© apropriado.

‚úÖA coluna ```data_added``` est√° como ```object``` o que para o **pandas** significa "texto"```(string)```. Para fazer an√°lises temporais(como por exemplo: "quantos filmes foram adicionados por ano?"), precisamos converter essa coluna para um formato de data ```(datatime)```.


### üîÅ Convertendo tipos de dados, Tratando e limpado (Data Cleaning)
Realizando a primeira tarefa de pr√©-processamento de dados, converte-se no c√≥digo abaixo a coluna ```data_added``` para ```datatime``` √© checado se o c√≥digo funcionou utilizando a mesma fun√ß√£o anterior ```.info()```


Em primeira inst√¢ncia o c√≥digo :

```df['date_added'] = pd.to_datetime(df['date_added'])```

retornou: ```_________________ValueError_______________```


***E o motivo: havia "sujeira" nos dados na coluna ```date_added``` foi encontrado um " " (espa√ßo em branco) antes da data ```" August 4, 2017"```
O Pandas olhou as primeiras datas do arquivo deduziu que o formato era "Nome do M√™s, Dia, Ano" e tentou aplicar essa regra a todas as outras. Quando ele chegou na linha 161 a regra quebrou por causa do espa√ßo extra no come√ßo por isso a sa√≠da ValueError.***

##### üßπ Pr√≥xima tarefa remover os **espa√ßos** extras no in√≠cio e fim das datas do data frame, para fazer a convers√£o:

In [4]:
# 6 - Removendo espa√ßos antes e depois da coluna
df['date_added'] = df['date_added'].str.strip()

# 7 - Converter a coluna data_added para datatime
df['date_added'] = pd.to_datetime(df['date_added'])

# 8 - Ver o tipo de dado da coluna
print(df['date_added'].dtype)

datetime64[ns]

Convers√£o conclu√≠da com Sucesso, e checada ! Isso significa que a fase de Limpeza de Dados (Data Cleaning) est√° praticamente conclu√≠da!

Pr√≥ximo passo verificar se ainda h√° valores **Nulos** no Data Frame:

In [5]:
# Verificando a situa√ß√£o dos valores nulos ap√≥s a limpeza da coluna 'date_added'
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
duration        0
description     0
genre           0
dtype: int64

√ìtimo o Data frame n√£o cont√©m mais valores **Nulos**.